a {
  color: blue;
}

a:link {
  margin-left: 0.3rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #45459e;
  background-color: transparent;

}

a:hover {
  text-decoration: underline;
}

a:active {
  color: red;
  text-decoration: underline;
}